Step 1
- an empty string must return 0
- a string with zero must return 0
- a string with a single positive number must return that number
- a string with a positive number and zero must return the positive number
- a string with zero and a positive number must return the positive number
- a string with two positive numbers must return the sum of those
- a string with two negative numbers must return the sum of those
- a string other than a number or a comma raises an exception

Step 2
- a string with multiple positive numbers separated by a comma must return the sum of those
- a string with multiple positive and negative numbers must return the sum of those

Step 3
- a string with two positive numbers separated by a newline must return the sum of those
- a string with multiple positive numbers separated by a newline must return the sum of those
- Note : Pour le cas ou la virgule et le retour a la ligne se suivent, il n'y aura pas d'erreur de levee pour l'instant
    -> dans ce cas on prend en compte deux valeurs vident suplementaires qui ne seront pas ajoutees au calcul
        Exemple : “1,\n” donne un tableau de string ["1","",""] qui donne la somme (et le resultat) suivante : 1


